<a href="https://colab.research.google.com/github/azelde/HackTheHood/blob/main/HtHNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello Matthew!")

hello Matthew!

In [ ]:
import numpy as np

In [ ]:
np.arange(1,10,2)

array([1, 3, 5, 7, 9])

In [ ]:
np.arange(1, 10, 2)

array([1, 3, 5, 7, 9])

In [ ]:
end = 100
print(end)
_ = "hello Matthew!"
print(_)
end = 200
print(end)
end = 500
print(end)
start = 0
end = 1000
print(end)
print(start)
end = start
print(end)

100
hello Matthew!
200
500
1000
0
0

In [ ]:
# data types

# numeric types ('int' is a integer)

print(start)
print(type(start))


print(type(7.7))

# text sequence type ('str' is a string)

name = 'Matthew'
greet = 'Matthew, "Hey!"'
print(name)
print(type(name))
print(greet)
print(type(greet))

name = '"Matthew"'
print(name)
print(type(name))

# Boolean types ('bool' are booleans)

killa_say_wha = True
print(killa_say_wha)
print(type(killa_say_wha))

killa_does_not_say_wha = False
print(killa_does_not_say_wha)
print(type(killa_does_not_say_wha))

0
<class 'int'>
<class 'float'>
Matthew
<class 'str'>
Matthew, "Hey!"
<class 'str'>
"Matthew"
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>

In [ ]:
name = "Matthew"
print(name)
age = 16
print(age)
hobby = 'hanging out with friends'
print(hobby)
identity = 'chinese'
print(identity)
age = 17
print("My name is Matthew, I'm 16, and I'm chinese")

Matthew
16
hanging out with friends
chinese
My name is Matthew, I'm 16, and I'm chinese